.xtree {
    position: relative;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.xtree-root > .xtree-nodes-list {
    overflow: hidden;
    position: relative;
    padding-bottom: 4px;
}

.xtree-selected > .xtree-node-item {
    background-color: rgba(100, 100, 255, 0.5);
}

.xtree-node-list {
    position: relative;
    display: flex;
    flex-direction: row;
}

.xtree-node-item {
    position: relative;
    display: flex;
    flex-direction: row;
}
.xtree-node-item.xtree-cursor-inside {
    outline: 1px solid rgba(100, 100, 255, 0.5);
}

.xtree-gap {
    width: 20px;
    min-height: 1px;
}

.xtree-sidebar {
    margin-left: auto;
}

.xtree-cursor {
    position: absolute;
    border: 1px solid rgba(100, 100, 255, 0.5);
    height: 1px;
    width: 100%;
}

.xtree-drag-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
}
