.xtree {
    position: relative;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.xtree.xtree-root {
    border: 1px solid rgb(9, 22, 29);
    background-color: rgb(9, 22, 29);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

.xtree-root > .xtree-nodes-list {
    overflow: hidden;
    position: relative;
    padding-bottom: 4px;
}

.xtree-selected > .xtree-node-item {
    background-color: #13242d;
    color: white;
}

.xtree-node-item:hover,
.xtree-node-item.xtree-cursor-hover {
    color: white;
}

.xtree-node-item {
    position: relative;
    display: flex;
    flex-direction: row;

    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;
    border: 1px solid transparent;
}

.xtree-node-item.xtree-cursor-inside {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.xtree-gap {
    width: 25px;
    min-height: 1px;
}

.xtree-toggle {
    display: inline-block;
    text-align: left;
    width: 20px;
}

.xtree-sidebar {
    margin-left: auto;
}

.xtree-cursor {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 1px;
    width: 100%;
}

.xtree-drag-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    margin-left: 20px;
    padding: 5px 10px;
}
