.xtree {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    @apply text-sm relative;
}

.xtree-root > .xtree-nodes-list {
    overflow: hidden;
    position: relative;
    padding-bottom: 4px;
}

.xtree-selected > .xtree-node-item {
    @apply bg-slate-200 rounded;
}

.xtree-node-list {
    position: relative;
    display: flex;
    flex-direction: row;
}

.xtree-node-item {
    position: relative;
    display: flex;
    flex-direction: row;
    @apply my-1;
}
.xtree-node-item.xtree-cursor-inside {
    @apply outline-dashed outline-slate-400;
}

.xtree-gap {
    width: 20px;
    min-height: 1px;
}

.xtree-sidebar {
    margin-left: auto;
}

.xtree-cursor {
    @apply absolute border border-slate-200 h-1 rounded bg-slate-200 w-full;
}

.xtree-drag-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
}
