.xtree {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    @apply text-sm relative text-slate-600;
}
.xtree-root > .xtree-nodes-list {
    overflow: hidden;
    position: relative;
    padding-bottom: 4px;
}

.xtree-selected > .xtree-node-item {
    @apply bg-slate-200 rounded !text-slate-900 hover:shadow-md cursor-move;
}

.xtree-node-list {
    position: relative;
    display: flex;
    flex-direction: row;
}

.xtree-node-item {
    position: relative;
    display: flex;
    flex-direction: row;
    @apply my-1 mx-1;
}
.xtree-node-item.xtree-cursor-inside {
    @apply outline-dashed outline-slate-400;
}

.xtree-gap {
    @apply w-4 min-h-1;
}

.xtree-sidebar {
    margin-left: auto;
}

.xtree-cursor {
    @apply absolute outline-dashed outline-slate-400 bg-slate-100 h-1 w-full -mt-1;
}

.xtree-drag-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
}
